* {
    padding: 0;
    margin: 0;
}

.cont {
    display: flex;
    flex-direction: column;
}

.general {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3rem;
    max-width: min-content;
    z-index: 1;
    width: 100%;
}



#logo {
    width: 100%;
    height: 100%;
}

.logoheader {
    transition: all .5s ease;
}

.logoheader:hover {
    filter: grayscale(20%);
    transition: all .5s ease;
}

.navigation {
    display: flex;
    margin-bottom: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 100%;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-width: 1px;
    padding: 10px 0;
    margin: 0;
    margin-top: 20px;
    /* overflow: hidden; */
}

.navigation a {
    margin: 1rem;
    color: #C5D5E4; 
    display: flex;
    justify-content: center ;
    align-items: center;
    margin: 0;
    width: 100%;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-width: 0.2px; 
}

.navigation a:first-child {
    border-left: none;
}
.navigation a:last-child {
    border-right: none;
}

.navigation a:hover {
    color: white;
}

.navigation a:focus {
    opacity: 0.7;
}

header {
    display: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
}

footer a {
    margin: 50px 0;
    font-family: 'Poppins', sans-serif;
    font-size: small;
}

@media (max-width: 768px) {

    .general {
        margin-top: 0;
        margin-bottom: 1rem;
        max-width: max-content;
        justify-content: center;
    }

    .logoheader a{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .logoheader img{
        width: 60%;
    }

    .navigation {
        width: 100%;
    }

    .navigation a {
        font-size: x-small;
        font-weight: 700;    
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0 30px 0;
        width: 100%;
        text-align: center;
    }
    
    header a {
        width: 120px;
        font-family: 'Poppins', sans-serif;
        font-size: x-small;
    }

    footer {
        display: none;
    }
}